.vscode
.idea

.*
!.gitignore
!.gitkeep

tmp
pprof
fgprof

bin
go
local

isucari/webapp/nodejs/
isucari/webapp/perl/
isucari/webapp/php/
isucari/webapp/python/
isucari/webapp/ruby/
isucari/webapp/rust/
!isucari/webapp/go/
!isucari/webapp/sql/

# 環境変数のファイル名に合わせること
env.sh
!common/env.sh
!s1/home/isucon/env.sh
!s2/home/isucon/env.sh
!s3/home/isucon/env.sh
!s4/home/isucon/env.sh
!s5/home/isucon/env.sh

pprotein
pprotein-agent

add_hosts.sh
xbuild/
